= form_for @country do |f|
  - if @country.errors.any?
    #error_explanation
      %h2= "#{pluralize(@country.errors.count, "error")} prohibited this country from being saved:"
      %ul
        - @country.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :market_scale
    = f.text_field :market_scale
  .field
    = f.label :product_stock
    = f.text_field :product_stock
  .field
    = f.label :market_segment
    = f.text_field :market_segment
  .field
    = f.label :buying_prise
    = f.text_field :buying_prise
  .field
    = f.label :max_selling_price
    = f.text_field :max_selling_price
  .actions
    = f.submit 'Save'
