%h1 成績
%h4
  %div
    - @user_data.each do |account|
      %div
        = "アカウント名: #{account.email}"
      %div
        = "純利益: #{account.net_profit}"
      %div
        = "キャッシュ: #{account.cash}"
      %br


